.conwrap {
    margin: 0 0 20px;
    padding: 30px 30px 60px;
    background: #ffffff;
    width: 1200px;
}

.conwrap:last-child {
    margin: 0;
}

.h3group {
    overflow: hidden;
    margin: -30px -30px 0;
    padding: 30px;
    border-bottom: 1px solid #e6e6e8;
    background: #ffffff;
}

.h3group.tit {
    float: left;
    font-family: 'NanumSquare';
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #2d2d2d;
}


.h3group .location {
    float: right;
}

.h3group .location .depth {
    display: block;
    float: left;
    position: relative;
    margin: 0 5px 0 0;
    font-size: 14px;
    line-height: 44px;
    color: #777777;
}

.h3group .location .depth:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    width: 6px;
    height: 9px;
    margin: -4px 0 0;

}

.h3group .location .this {
    display: block;
    float: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: #2d2d2d;
}

.viewbody {
    border-top: var(--main-color) solid 2px;
    border-bottom: var(--main-color) solid 2px;
    padding: 50px 0;
}

.viewbody .hgroup .tit {
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    margin: 0 0 20px;
}

.viewbody .hgroup .no {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 20px;
}

.viewbody .content {
    font-size: 24px;
    position: relative;
    line-height: 26px;
    color: #666666;
    text-align: center;
    height: auto;
    margin: 150px ;
}

.viewbody .hgroup .util div {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 10px 20px;
}

.viewbody .hgroup .util {
    margin: 10px auto;
    text-align: center;
}

.content ul {margin-left:0}

.dat_add {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.dat_add textarea {
    height: 80px;
    width: 80%;
    padding: 20px;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
}

.dat_con {
    vertical-align: middle;
    padding: 20px;
    border: #b0b0b0 solid 2px;
    border-radius: 10px;
    position: relative;
    width: calc(100% - 160px);
}

.dat {
    width: 80%;
    display: block;
    margin: 100px auto;
    font-size: 16px;
}

.dat_box .dat_con, .dat_box .dat_img, .dat_box p, .dat_box a {
    display: inline-block;
    vertical-align: top;
}

.dat_box {
    margin-bottom: 10px;
}

.dat_con #con {
    vertical-align: middle;
}

.dat_con #reg {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.dat_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #FFFFFF;
    text-align: center;
    margin: 5px;
}

.dat_img > p {
    color: #FFFFFF;
    text-align: center;
    line-height: 70px;
}

.dat_list {
    left: 0;
    margin: 50px 0;
}

