<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<!--        layout:decorate="~{layout/layout1.html }">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta id="_csrf" name="_csrf" content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}"/>
    <title>메인 페이지</title>
</head>
<body>
    <h1>메인 페이지</h1>


    <a th:href="@{/home}">홈</a>

    <a th:href="@{/login}">로그인</a>
    <br>
    <form th:action="@{login}" method="get">
        <button type="sumit">로그인</button>
    </form>
    <form th:action="@{registration}" method="get">
        <button type="sumit">회원가입</button>
    </form>
    <br>
    <form th:action="@{board/List}" method="get">
        <button type="sumit">Board</button>
    </form>
    <a th:href="@{/product/List(addr1='가산동')}">Product</a>


</body>
</html>