<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.FreeMapper">
    <select id="freeList" resultType="kr.ed.haebeop.domain.Free">
        <![CDATA[
        select * from free
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()" >
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()" >
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'author'.toString()" >
                        author LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        order by regDate desc LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="freeGet" resultType="kr.ed.haebeop.domain.Free">
        select * from free where fno=#{fno}
    </select>

    <insert id="insert">
        insert into free values (default, #{title}, #{content}, #{author}, default, default)
    </insert>

    <delete id="delete">
        delete from free where fno=#{fno}
    </delete>

    <update id="update">
        update free set title=#{title}, content=#{content} where fno=#{fno}
    </update>

    <update id="visitCount">
        update free set visited=visited+1 where fno=#{fno}
    </update>


    <select id="count" resultType="integer">
    <![CDATA[
        select count(*) from free
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()" >
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()" >
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'author'.toString()" >
                        author LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="freeListForMain" resultType="kr.ed.haebeop.domain.Free">
        select * from free order by regdate desc LIMIT 4
    </select>

</mapper>