<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.LessonMapper">
    <!--  Lesson  -->
    <select id="list" resultType="kr.ed.haebeop.domain.Lesson">
        <![CDATA[
        select * from Lesson
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()">
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'teacher'.toString()">
                        teacher LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        order by regdate desc LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="get" resultType="kr.ed.haebeop.domain.Lesson">
        select * from Lesson where lsno=#{lsno}
    </select>

    <select id="getlast" resultType="kr.ed.haebeop.domain.Lesson">
        select * from Lesson order by lsno desc limit 1
    </select>

    <select id="listpro" resultType="kr.ed.haebeop.domain.Lesson">
        <![CDATA[
        select * from Lesson
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        order by regdate desc LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="count" resultType="integer">
        <![CDATA[
        select count(*) from Lesson
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="listForMain" resultType="kr.ed.haebeop.domain.Lesson">
        select * from Lesson order by regdate desc limit 4
    </select>

    <insert id="insert" >
        insert into Lesson(title, content, teacher, price, img, video) values(#{title}, #{content}, #{teacher}, #{price}, #{img}, #{video})
    </insert>

    <update id="update" >
        update Lesson set title=#{title}, content=#{content}, teacher=#{teacher}, price=#{price} where lsno=#{lsno}
    </update>

    <delete id="delete" >
        delete from Lesson where lsno=#{lsno}
    </delete>
</mapper>