<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.pro05.persis.UserMappe2r">
    <select id="getUserList" resultType="com.chunjae.pro05.entity.User">
        select * from user order by id desc
    </select>
    <select id="getUser" resultType="com.chunjae.pro05.entity.User">
        select * from user where name = #{name}
    </select>
    <!-- 탈퇴하기 act:JOIN-활동중, DORMANT-휴면중, WITHDRAW-탈퇴중 -->
    <update id="getWithdraw">
        update user set act='WITHDRAW' where id = #{id}
    </update>
    <!-- 계정 활성화 -->
    <update id="getActivate">
        update user set act='JOIN' where name = #{name}
    </update>
    <!-- 계정 휴면 -->
    <update id="getDormant">
        update user set act='DORMANT' where name = #{name}
    </update>
    <!-- 이메일 로그인 -->
    <select id="getByEmail" resultType="com.chunjae.pro05.entity.User">
        select * from user where email = #{email}
    </select>
    <!-- id 로그인 -->
    <select id="getByName" resultType="com.chunjae.pro05.entity.User">
        select * from user where name = #{name}
    </select>
    <select id="getUserById" resultType="com.chunjae.pro05.entity.User">
        select * from user where id = #{id}
    </select>
    <!-- 아이디 찾기 -->
    <select id="findById" resultType="com.chunjae.pro05.entity.User">
        select * from user where email = #{email} and tel = #{tel}
    </select>
    <!-- 비밀번호 찾기 -->
    <select id="findByPw" resultType="com.chunjae.pro05.entity.User">
        select * from user where email = #{email} and tel = #{tel} and name = #{name}
    </select>
    <!-- 회원가입 -->
    <insert id="userJoin">
        INSERT INTO user VALUES (DEFAULT, #{name}, #{password}, #{username}, #{email}, #{tel}, #{addr1}, #{addr2}, #{postcode}, DEFAULT, null, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
    </insert>
    <!-- 회원정보수정 -->
    <update id="updatUser">
        UPDATE user SET password=#{password}, username=#{username}, address=#{address}, tel=#{tel} WHERE name = #{name}
    </update>
    <update id="updatePasswordNoChange">
        UPDATE user SET username=#{username}, address=#{address}, tel=#{tel} WHERE name = #{name}
    </update>
    <update id="updateLevel">
        UPDATE user SET lev=#{lev} WHERE name = #{name}
    </update>
    <delete id="removUser">
        DELETE from user where name = #{name}
    </delete>
</mapper>