<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
</head>
<body>

<table style="display:block;">
    <thead>
        <tr>
            <th>지역</th>
            <th>상품 제목</th>
            <th>아이디</th>
            <th>가격</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="pro : ${proList}" id="proList" style="display: block">
        <td th:text="${pro.addr1}"></td>
        <td ><a th:href="@{/product/Edit(pno=${pro.pno})}" th:text="${pro.title}" ></a></td>
        <td th:text="${pro.userId}"></td>
        <td th:text="${pro.price}"></td>
        <td><a th:href="@{/product/Del(pno=${pro.getPno()})}">삭제하기</a></td>
    </tr>
    </tbody>
</table>
    <a th:href="@{/product/List}">상품 리스트</a>
    <a th:href="@{/product/Add}">새글등록</a>
</body>

</html>