<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta id="_csrf" name="_csrf" content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}"/>
    <title>자주쓰는 답변</title>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>순번</th>
            <th>내용</th>
            <th>아이디 넘버</th>
            <th>사용</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="reco, num : ${recommentList}">
        <td th:text="${num.count}"></td>
        <td th:text="${reco.no}"></td>
        <td th:text="${reco.comment}" ></td>
        <td th:text="${reco.id_no}"></td>
        <td><button type="button" th:com="${reco.getComment()}" onclick="choice(this.getAttribute('com'))">사용</button></td>
        <td><a th:href="@{/recomment/Del(no=${reco.getNo()})}">삭제하기</a></td>
    </tr>
    </tbody>
</table>

<div th:if="${recommentList.size() < 5}">
    <a th:href="@{/recomment/Add}">자주 쓰는 글 등록</a>
</div>
<script>
    function choice(comment){
        if(window.confirm("문구를 사용할 경우 현재 작성한 문구는 사라집니다.")) {
            opener.document.fm.content.value = comment;
            window.close();
        }
    }

</script>
</body>
</html>